@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    background-color: #7d563f!important;
    top: 0;
    position: absolute;
    width: 100%;
}
.container p{
    margin-left: 650px;
    color: white;
}
.logo p{
    margin-top: 5px;
    position: absolute;
    font-size: 35px;
    margin-left: 30px;
    font-weight: bold;
}
.navbar{
    overflow: hidden;
    margin-top: 90px;
    margin-left: 1000px;
    color: #000000;
    
}
.navbar a{
    float: left;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 14px 14px;
    
}
.dropdown{
    overflow: hidden;
    float: left;
}
/*style button*/
.dropdown .btn{
   border:none;
   outline: none;
   background-color: white;
   font-size: 17px;
   padding: 14px 14px;
   margin-top: 1px;
   color: #000000;
}
/*hide content by default*/
.dropdown-content{
    position: absolute;
    z-index: 1;
    display: none;
    width: 50%;
    left: 500px;
}
/*style the content column*/
.column{
    float: left;
    width:25%;
    padding:10px;
    display: block;
  
}
.column a{
    float: none;
    display: block;
    line-height: 2px;
    padding: 16px 10px;
    line-height: 3px;

    
}
.column a:hover{
    color: #facf0f;
    border-bottom: none !important;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.row{
    background-color: white;
    box-shadow: 0px 7px 12px -4px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 300px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.dropdown-content h5{
    color: grey;
    font-size: 20px;
}
.navbar a:hover ,.dropdown .btn:hover{
    border-bottom: 1px solid #facf0f;
    color: #facf0f;
}

.text1{
    position: absolute;
    top: 27%;
    left: 8%;
   color: white;
   font-size: 23px;
}
.text2{
    position: absolute;
    top: 27%;
    left: 33%;
   color: white;
   font-size: 23px;
}
.text3{
    position: absolute;
    top: 27%;
    left: 60%;
   color: white;
   font-size: 23px;
}
.button{
    background: #002147;
    padding: 14px 16px;
    border-radius: 15px;
}
.button a{
    color: white;
}
.container1{
    position: absolute;
    top: 150px;
    background-image: linear-gradient(to right,rgb(90, 95, 39), rgb(87, 92, 35), rgb(231, 143, 31));
    width:100%;
    padding: 25px 16px;
}
.search{
    margin-left: 700px;
    margin-top: 5px;
    width: 300px;
    padding: 10px 20px;
}

.search:focus{
    height: 35px;
    border-radius: 15px;
    outline-color:darkgreen;
    
}
 input[type="submit"]{
    background: linear-gradient(to bottom, #e78f22, #f36f21);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    
 }
 input[value="search"]{
    color: white;
    font-size: 16px;
 }
 .slider{
    width: 100%;
    height: 90%;
    overflow: hidden;
   position: relative;
 }
 figure{
    position: relative;
    width: 200%;
    margin-left: 0px;
   animation: slide 10s infinite;
 } 
 .slide{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    
 }
 .slide img{
    width: 100%;
    height: 800px;
    margin-top: 89px;
 }
 .slide ul{
     list-style: none;
 }
 .slide ul li{
    padding: 10px 20px;
    margin-right: 20px;
 }
 @keyframes slide{
    0% {
        left:0;/*keep same opacity*/
    }
    50%{
       left:-100%;
    }
    100%{
        left: -100%;
    }
 }
 .text4{
    position: absolute;
    top: 40%;
    left: 20%;
   color: white;
   font-size: 23px;
}
.text4 h4{
    color: #eeeeee ;
    font-size: 30px;
}
.text4 p{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}
.text4 .btn{
    margin-bottom: 100px;
    background-color: #e78f22;
    border: none;
    outline: none;
    padding: 15px 25px;
    border-radius: 15px;
}
.text4 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.text4 a:hover{
    text-decoration: none;
    color: lightgray;
}
.text5{
    position: absolute;
    top: 40%;
    left: 20%;
   color: white;
   font-size: 23px;
}
.text5 h4{
    color: #eeeeee ;
    font-size: 30px;
}
.text5 p{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}
.text5 .btn{
    margin-bottom: 100px;
    background-color: #e78f22;
    border: none;
    outline: none;
    padding: 15px 25px;
    border-radius: 15px;
}
.text5 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.text5 a:hover{
    text-decoration: none;
    color: lightgray;
}
.container{
    background-color: #fafafa;
}
.container2 h3{
    margin-left: 680px;
    text-transform: capitalize;
    font-size: 45px;
}
span{
    color:#e78f22;
}
.tl{
    margin-top: -30px;
    margin-left: 830px;
}
.div1{
    width: 80px;
    height: 1px;
    background: #eee;
    display: inline-block;
}
.div2{
   display: inline-block;
   height: 12px;
   margin: 0 5px;
   position: relative;
   top: 5px;
   width: 12px;
   border: 1px solid #ebc131;
   border-radius: 50px;
   
}
.div3{
    width: 80px;
    height: 1px;
    background: #eee;
    display: inline-block;
}
.tl p{
  margin-left: -120px;
  color: #888;
  font-weight: 400;
  font-size: 20px;
}
.spe-3{
    margin-left: 40px;
}
.column1{
    float: left;
    width: 25%;
}
.column1 img{
    padding: 10px 50px;
    max-width: 100%;
    height: auto;

}
h6{
    position: absolute;
    top: 50%;
    left: 80%;
}
.text6{
    position: absolute;
    top: 155%;
    left: 7%;
   color: black;
   font-size: 24px;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px 12pxpx;
   background-color: white;
}
.text7{
    position: absolute;
    top: 155%;
    left: 32%;
    color: black;
   font-size: 24px;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px 12pxpx;
   background-color: white;
}
.text8{
    position: absolute;
    top: 155%;
    left: 58%;
    color: black;
   font-size: 24px;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px 12px;
   background-color: white;
}
.text9{
    position: absolute;
    top: 155%;
    left: 85%;
    color: black;
   font-size: 24px;
   border: none;
   outline: none;
   border-radius: 10px;
   padding: 10px 12pxpx;
   background-color:none;
   background-color: white;
}
.row1{
    clear: both;
    display: table;
    content: "";
}
.column2 img{
    max-width: 100%;
    height: auto;
}
.spe-3 .space{
    padding: 50px;
}
 .cont {
    box-shadow: 4px 4px 5px #aaaaaa;
    padding: 35px ;
    margin-top: -15px;
    width: 358px;
    margin-left: 50px;
   
}
.imagee{
    margin-top: 26px;
}
.spe1 {
    box-shadow: 4px 4px 5px #aaaaaa;
    padding: 35px ;
    margin-top: -15px;
    width: 358px;
    margin-left: 50px;
   
}
.spe2 {
    box-shadow: 4px 4px 5px #aaaaaa;
    padding: 35px ;
    margin-top: -15px;
    width: 358px;
    margin-left: 50px;
   
}
.spe3 {
    box-shadow: 4px 4px 5px #aaaaaa;
    padding: 35px ;
    margin-top: -15px;
    width: 358px;
    margin-left: 50px;
   
}
.aria{
    font-size: 20px;
    
}
.sp{
    color: grey;
}
.imageee{
    margin-top: 7px;
}
.team{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px;
    justify-content: center;
    background-color: #eff5fb;
}
.tl .plus{
    margin-left: -530px;
    font-size: 23px;
}
.spe-4{
    margin-top: 50px;
}
.spe-4 p{
    margin-left: 120px;
   
}
.spe-4 .para{
    font-size: 25px;
}
.spe-4 .parabtn{
    margin-left:130px ;
    background-color: #e78f22;
    border: none;
    outline: none;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
}
.team-heading{
    margin-left: 800px;
    margin-top: 80px;
    font-size: 45px;
}
.teamcard{
    padding: 10px 70px;
    margin-top: 0px;
}
.teamcard h1{
    margin-left: 200px;
}
.teamcard p{
    margin-left: 215px;
    font-size: 25px;
}
form{
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    
}
.form-group{
    margin-bottom: 15px;
    margin-left: 700px;
    margin-top: 20px;
    font-size: 30px;
    
}
.form-group label{
  display: block;
  padding: 10px;
   font-size: 20px;
}
.contact{
    margin-left: 800px;
    font-size: 30px; 
    margin-top:130px;
}
.form-group, input[type="email"]{
    padding: 20px 16px;
    width: 500px;
}
.form-group, input[placeholder]{
    font-size: 20px;
}
.form-group, input[value="submit"]{
    padding: 20px 16px;
    width: 500px;
    font-size: 20px;
}
#name{
   margin-left: 0px;
   padding: 20px 16px;
   width: 500px;
}
input:focus{
     height: 30px;
     border-radius: 25px;
     outline: darkgreen;
}


footer{
    height: 350px;
   display: flex;
   background-color: black;
   
}
footer .footer{
    margin-left: 100px;
    margin-top: 80px;
}
.footer h1{
    color: grey;
    font-size: 20px;
}
.footer p{
   line-height: 25px;
   color: grey;
   font-size: 20px;
}
footer .links{
    margin-left: 200px;
    margin-top: 82px;
   
}
footer .links a{
    text-decoration: none;
    display: block;
    padding: 10px 14px;
    color: grey;
    font-size: 20px;
}
.links h1{
    color: grey;
    font-size: 20px;
}
.icons{
    margin-left: 200px;
    color: grey;
    margin-top: 90px;
}
.icons i{
    padding: 14px 14px ;
    font-size: 25px;
}
.icons a{
    color: grey;
    text-decoration: none;
}
.icons h1{
    margin-top: 3px;
    font-size: 20px;
}

  













